In [1]:
import pandas as pd
import numpy as np

In [2]:
from tensorflow.keras.models import load_model

In [3]:
model = load_model("model.keras")

WARNING:tensorflow:From c:\Home\Aiml\Projects\churn\churn-ann\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [4]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [5]:
import pickle

col_trans = None
with open("col_trans.pkl", "rb") as file:
    col_trans = pickle.load(file)

In [6]:
test_data = {
    "CreditScore": 600,
    "Geography": "France",
    "Gender": "Female",
    "Age": 19,
    "Tenure": 3,
    "Balance": 20000,
    "NumOfProducts": 3,
    "HasCrCard": 1,
    "IsActiveMember": 0,
    "EstimatedSalary": 40000
}

In [23]:
pd.DataFrame(test_data, index=[0])

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.0,1.0,0.0,0.0,-0.535985,-1.891728,-0.695393,-0.898251,2.53356,0.649203,-1.025834,-1.050699

In [12]:
test_data = col_trans.transform(pd.DataFrame(test_data, index=[0]))

In [15]:
test_data.shape

(1, 12)

In [24]:
predictions = model.predict(test_data)

1/1 [==============================] - 0s 24ms/step

In [27]:
predictions[0][0]

0.3234725

In [28]:
if predictions[0][0] > 0.5:
    print("Customer is likely to churn")
else:
    print("Customer is not likely to churn")

Customer is not likely to churn